html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

:root {
  --base-color: #333333;
  --btn-color: #FF9900;
  --light-color: #FFF;
  --footer-color: #222;
}

.page {
  font-family: 'Montserrat', sans-serif;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  background-color: var(--btn-color);
  color: var(--light-color);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.btn:active {
  background-color: #E1670E;
}

.section__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: var(--base-color);
  padding-top: 100px;
  margin: 0;
}

.container {
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

/* header */
.header {
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px 75px;
}

.burger {
  display: none;
  z-index: 100000;
}

.header__logo {
  margin-right: auto;
}

.nav__list {
  display: flex;
  gap: 85px;
  margin-right: 85px;
}

.nav__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: var(--base-color);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
  text-underline-position: under;
  transition: color 0.3s ease-in-out, text-decoration-color 0.3s ease-in-out;
}

.nav__link:focus {
  outline: 2px solid var(--btn-color);
  outline-offset: 5px;
}

.nav__link:hover {
  text-decoration-color: var(--btn-color);
}

.nav__link:active {
  outline: none;
  color: #E1670E;
  text-decoration-color: #E1670E;
}

.search-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.search-btn rect {
  transition: fill .3s ease-in-out;
}

.search-btn path {
  transition: stroke .3s ease-in-out;
}

.search-btn:focus-visible {
  outline: 2px solid var(--btn-color);
  outline-offset: 4px;
}

.search-btn:hover rect{
  fill: var(--btn-color);
}

.search-btn:hover path{
  stroke: var(--btn-color);
}

.search-form {
  position: absolute;
  right: 75px;
  top: -100px;
  opacity: 0;

  display: flex;
  justify-content: flex-end;

  border: none;
  padding: 16px 0 27px 32px;
  width: 30vw;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  background-color: #fff;

  transition: opacity .3s ease-in-out, top .3s ease-in-out;
}

.search-form_active {
  opacity: 1;
  top: 14px;
}

.search-form__input {
  border: none;
  width: 100%;

  border-bottom: 1px solid #DADADA;
}

.search-form__input:focus {
  outline: none;
  border-color: var(--btn-color);
}

.search-form__close-btn {
  border: none;
  background-color: #fff;
  padding: 0;
  margin-right: 17px;
  cursor: pointer;
}

.search-form__search-btn {
  border: none;
  background-color: #fff;
  padding: 0;
  margin-right: 20px;
  cursor: pointer;
}

.search-form__close-btn:focus-visible {
  outline: 2px solid var(--btn-color);
  outline-offset: 4px;
}

.search-form__close-btn:hover rect {
  fill: var(--btn-color);
}

.search-form__close-btn:hover circle {
  stroke: var(--btn-color);
}

.search-form__close-btn:active rect {
  fill: var(--base-color);
}

.search-form__close-btn:active circle {
  stroke: var(--base-color);
}

.search-form__close-btn circle {
  transition: stroke .3s ease-in-out;
}

.search-form__close-btn rect {
  transition: fill .3s ease-in-out;
}

/* hero */
.container__wrapper {
  position: relative;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.container__wrapper .swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide_first {
  background-image: url('../img/building_1.jpg');
}

.swiper-slide_second {
  background-image: url('../img/building_2.jpg');
}

.swiper-slide_third {
  background-image: url('../img/building_3.jpg');
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-horizontal>.swiper-pagination-bullets {
  padding-bottom: 22px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 917px;
  padding: 100px 0 101px 80px;
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
  color: var(--light-color);
  z-index: 100;
}

.hero__desc {
  margin: 0;
  margin-bottom: 90px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: var(--light-color);
  z-index: 100;
}

.hero__btn {
  display: inline-block;
  padding: 24px 36px;
  padding-right: 42px;
  font-size: 23px;
  font-weight: 700;
  line-height: 29px;
  z-index: 100;
}

/* about */
.about__title {
  margin-bottom: 20px;
}

.about__desc {
  display: block;
  max-width: 1235px;
  margin: 0;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--base-color);
}

.about__card-block {
  display: flex;
  gap: 32px;
}

.card-block__card {
  display: flex;
  background-image: url('../img/hard_worker.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 868px;
  min-height: 622px;
  align-items: flex-end;
}

.card__wrapper {
  display: flex;
  align-items: center;
  padding: 50px 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-block__desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: var(--light-color);
  margin: 0;
  margin-right: 139px;
}

.card-block__btn {
  background-color: transparent;
  padding: 20px 38px;
  border: 3px solid var(--btn-color);
}

.card-block__btn:focus {
  background-color: var(--btn-color);
}

.card-block__btn:hover {
  background-color: var(--btn-color);
}

.card-block__btn:active {
  background-color: #E1670E;
  border-color: #E1670E;
}

.card-group__card {
  padding: 65px 117px 64px 59px;
  max-width: 870px;
  border: 1px solid #CACACA;
}

.card-group__wrapper {
  padding-left: 240px;
  background-repeat: no-repeat;
  background-position: top left;
}

.card-group__wrapper_top {
  background-image: url('../img/box.svg');
}

.card-group__wrapper_bottom {
  background-image: url('../img/gear.svg');
}

.card-group__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin: 0;
  margin-bottom: 8px;
}

.card-group__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}

.card-group__card_top {
  margin-bottom: 32px;
}

/* work-plan */
.work-plan__title {
  margin-bottom: 50px;
  padding-top: 96px;
}

.work-plan__step-list {
  display: flex;
  gap: 86px;
  margin-bottom: 45px;
}

.work-plan__step-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: var(--base-color);
}

.work-plan__step-item:first-child {
  color: #E1670E;
}

.work-plan__btn {
  text-decoration: none;
  color: var(--base-color);
  transition: color 0.3s ease-in-out;
  padding: 0;
  border: none;
  background-color: transparent;
}

.work-plan__btn:focus-visible {
  outline: 2px solid var(--btn-color);
  outline-offset: 5px;
}

.work-plan__btn:hover {
  color: var(--btn-color);
}

.work-plan__btn:active {
  outline: none;
  color: #E1670E;
}

.work-plan__btn_active {
  color: #E1670E;
}

.slide {
  display: none;
  gap: 142px;
}

.slide_active {
  display: flex;
}

.slide__info {
  max-width: 759px;
}

.slide__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--base-color);
  margin: 0;
  margin-bottom: 8px;
}

.slide__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  margin-bottom: 50px;
}

.slide__image {
  height: 100%;
  object-fit: cover;
}

.slide__btns {
  display: flex;
  gap: 32px;
}

.btns__btn_left {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 20px 38px;
}

.btns__btn_left:focus {
  background-color: #F7B045;
}

.btns__btn_left:hover {
  background-color: #F7B045;
}

.btns__btn_left:active {
  background-color: #E1670E;
}

.btns__btn_right {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--base-color);
  padding: 20px 38px;
  background-color: transparent;
  border: 1px solid var(--base-color);
}

.btns__btn_right:focus {
  background-color: #666;
  color: var(--light-color);
}

.btns__btn_right:hover {
  background-color: #666;
  color: var(--light-color);
}

.btns__btn_right:active {
  background-color: #000;
  color: var(--light-color);
}

/* faq */
.faq__title {
  margin-bottom: 42px;
}

.faq__list {
  margin-bottom: 104px;
}

.faq__item {
  margin-top: -1px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--base-color);
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
}

.faq__icon {
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
}

.faq__item:first-child {
  border-top: 1px solid #CACACA;
}

.faq__icon ellipse {
  transition: fill 0.3s ease-in-out;
}

.faq__icon path {
  transition: fill 0.3s ease-in-out;
}

.faq__item:focus-visible {
  /* border-bottom: 1px solid; */
  color: var(--btn-color);
  border-color: var(--btn-color);
}

.faq__item:focus-visible .faq__icon ellipse {
  fill: #FF9900;
}

.faq__item:focus-visible .faq__icon path {
  fill: var(--light-color);
}

.faq__item:hover {
  /* border-bottom: 1px solid; */
  color: var(--btn-color);
  border-color: var(--btn-color);
}

.faq__item:hover .faq__icon ellipse {
  fill: #FF9900;
}

.faq__item:hover .faq__icon path {
  fill: var(--light-color);
}

.faq__item:active .faq__icon {
  transform: rotate(45deg);
}

.faq__question {
  margin: 0;
}

.ac .ac-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.ac-panel {
  overflow: hidden;
  visibility: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.is-active .ac-panel {
  visibility: visible;
}

.is-active .faq__icon {
  transform: rotate(45deg);
}

/* footer */
.footer {
  background-color: var(--footer-color);
}

.footer__container {
  display: flex;
  padding: 50px 75px;
  justify-content: space-between;
}

.footer__links {
  max-width: 252px;
}

.footer__logo {
  display: block;
  margin-bottom: 16px;
}

.footer__list {
  margin-bottom: 90px;
}

.link-list__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: #CACACA;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.link-list__link:focus {
  outline: 2px solid var(--btn-color);
  outline-offset: 2px;

}

.link-list__link:hover {
  color: var(--btn-color);
}

.link-list__link:active {
  color: #E1670E
}

.footer__form {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  width: 570px;
  padding-left: 113px;
}

.footer__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: #CACACA;
  margin: 0;
  margin-bottom: 25px;
}

.footer__desc {
  margin: 0;
  padding-top: 85px;
  max-width: 363px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #cacaca;
}

.footer__social {
  display: flex;
  gap: 25px;
}

.network {
  fill: #7C7C7C;
  transition: fill 0.3s ease-in-out;
}

.social__link:focus .network {
  outline: 2px solid var(--btn-color);
  outline-offset: 5px;
}

.social__link:hover .network {
  fill: var(--btn-color);
}

.social__link:active .network {
  fill: #E1670E;
  outline: none;
}

.form {
  max-width: 570px;
  display: flex;
  flex-direction: column;
}

.form__field {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #FFF;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 24px;
  background-color: #414141;
  border: none;
  margin-bottom: 25px;
  transition: background-color 0.3s ease-in-out;
}

.form__field::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #CACACA;
  transition: color 0.3s ease-in-out;
}

.form__field:focus {
  background-color: #666;
  outline: none;
}

.form__field:hover {
  background-color: #666;
}

.form__field:active {
  background-color: #666;
}

.form__message-field {
  padding-top: 14px;
  padding-bottom: 72px;
  margin-bottom: 33px;
}

.form__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 19px 53px;
}

.form__checkbox {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.checkbox__text {
  display: flex;
  align-items: center;
  position: relative;
  color: #CACACA;
}

.checkbox__item {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox__text::before {
  content: "";
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  border: 1px solid #CACACA;
  flex-shrink: 0;
}

.checkbox__text::after {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  width: 14px;
  height: 14px;
  background-image: url('../img/checkbox.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox__item:checked+.checkbox__text::after {
  display: block;
}

.form__send {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
